# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Env files
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store

# Logger
logs/
*.log

# Postgres Scripts
postgresql/

# Alembic Cache
migrations/__pycache__

# Temporay Test Files
temp_test/